.debug {
  border: solid 1px #f00;
  background: rgba(red, .2);
}

.is-fixed {
  position: fixed;
}

.is-sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 100px;
}

.is-transparent {
  background: transparent;
}

.no-flex {
  flex: none;
  @extend .debug;
}

.flex-centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

.is-fixed-top {
  position: fixed;
  top: 0;
  width: 100%;
}

.is-red {
  background:$color-alert;
  color: $color-text-invert;
}

.is-purple {
  background: $color-primary;
  color: $color-text-invert;
}

.is-blue {
  background: $color-info;
  color: $color-text-invert;
}

.is-green {
  background: $color-success;
  color: $color-text-invert;
}

.spacer {
  height: 2em;

  &.is-large {
    height: 4em;
  }
}

.is-fullwidth {
  width: 100%;
}