// Sizes
$height-nav:  64px;

// Colors
$color-bg:          #ffffff;
$color-bg-block:    #E5E6E7;
$color-shadow:      rgba(black, .5);
$color-text:        #231F20;
$color-text-invert: #ffffff;

$color-primary:     #6B2A7E;