// Sizes
$height-nav:  64px;
$spacing: 1em;

// Colors
$color-bg:          #ffffff;
$color-bg-block:    #E5E6E7;
$color-shadow:      rgba(black, .3);
$color-text:        #231F20;
$color-text-invert: #ffffff;

$color-primary:     #6B2A7E;
$color-secondary:   #A5A7AA;
$color-secondary-light: lighten($color-secondary, 25);

$color-alert:       #EF5A28;
$color-info:        #51C7EA;
$color-success:     #8AC43F;