{% load navigation_tags static %}

<footer class="footer">
    <div class="container">
        <div class="columns">
            <div class="column">
                <ul>
                    <li>
                        <h3>Quick links</h2>
                    </li>
                    <li><a href="/">Contact us</a></li>
                    <li><a href="/">About us</a></li>
                    <li><a href="/">Work with us</a></li>
                    <li><a href="/">Event Calendar</a></li>
                    <li><a href="/">News</a></li>
                </ul>
            </div>
            <div class="column">
                <ul>
                    <li>
                        <h3>Social media</h2>
                    </li>
                    <li><a href="/">Facebook</a></li>
                    <li><a href="/">Twitter</a></li>
                    <li><a href="/">LinkedIn</a></li>
                    <li><a href="/">YouTube</a></li>
                </ul>
            </div>
            <div class="column">
                <ul>
                    <li>
                        <h3>Keep in touch</h2>
                    </li>
                    <li><a href="/">Newsletter</a></li>
                    <li><a href="/">Events</a></li>
                    <li><a href="/">RSS</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>

<div class="container copyright" role="contentinfo">
    <div class="content has-text-centered">
        {% get_footer_text %}
    </div>
</div>

<script src="/static/js/main.js"></script>