@charset "UTF-8";
.debug, .no-flex {
  border: solid 1px #f00;
  background: rgba(255, 0, 0, 0.2);
}

.is-fixed {
  position: fixed;
}

.is-sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 100px;
}

.is-transparent {
  background: transparent;
}

.no-flex {
  flex: none;
}

.flex-centered, .grid .image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.is-fixed-top {
  position: fixed;
  top: 0;
  width: 100%;
}

.is-red {
  background: #EF5A28;
  color: #ffffff;
}

.is-purple {
  background: #6B2A7E;
  color: #ffffff;
}

.is-blue {
  background: #51C7EA;
  color: #ffffff;
}

.is-green {
  background: #8AC43F;
  color: #ffffff;
}

.spacer {
  height: 2em;
}
.spacer.is-large {
  height: 4em;
}

.is-fullwidth {
  width: 100%;
}

@font-face {
  font-family: "Aller";
  src: url("../fonts/Aller_Lt.ttf") format("truetype");
}
@font-face {
  font-family: "AllerBold";
  src: url("../fonts/Aller_Bd.ttf") format("truetype");
}
.button {
  font-size: 1.2rem;
  font-family: "Aller";
  text-transform: uppercase;
  border-radius: 0;
  border: none;
}
.button.is-fullheight {
  height: 100%;
  padding: 0 0.3em;
}
.button.is-transparent {
  border: none;
  background: transparent;
}
.button.is-primary {
  background: #6B2A7E;
}
.button.is-secondary {
  color: #ffffff;
  background: #A5A7AA;
  border: none;
}
.button.is-selector {
  padding: 0;
  width: 1.2em;
  height: 1.2em;
}
.button.is-next:after {
  content: " >";
  display: inline-block;
  margin-left: 0.5em;
}
.button.has-icon {
  padding: 0 2.5rem;
}
.button span + i {
  margin-left: 0.5rem;
}
.button.is-info {
  background: #51C7EA;
}

p:not(.is-blocked) + .button,
p:not(.is-blocked) + .buttons,
.button + p,
.buttons + p {
  margin-top: 1em;
}

.button + .button {
  margin-left: 1em;
}

.buttons.is-stretched {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  display: flex;
  align-items: center;
}

.card {
  background: rgba(165, 167, 170, 0.1);
  box-shadow: none;
}
.card.is-stretched {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.card .card-image {
  flex: auto;
  display: flex;
  flex-direction: column;
}
.card .card-image figure {
  flex: auto;
}
.card .card-image figure img {
  height: 100%;
  object-fit: cover;
}
.card .card-content {
  position: relative;
  flex: auto;
  padding: 1rem;
}
.card .card-content.has-label {
  padding-bottom: 2.5rem;
}
.card .card-content .button.is-pulled-left {
  position: absolute;
  left: 0;
  bottom: 0;
}
.card .card-content .button.is-pulled-right {
  position: absolute;
  background: none;
  border: solid 1px rgba(165, 167, 170, 0.5);
  border-width: 1px 0 0 1px;
  right: 0;
  bottom: 0;
}
.card .card-footer {
  padding: 1em;
  background: rgba(165, 167, 170, 0.25);
}

.carousel {
  position: relative;
}
.carousel.is-fullheight {
  height: calc(100vh - 250px);
}
.carousel .carousel-inner {
  width: 100vw;
  height: 100%;
  overflow-y: hidden;
  overflow-x: auto;
  display: flex;
  flex-wrap: nowrap;
  scroll-behavior: smooth;
}
.carousel .carousel-inner article {
  flex: none;
  width: 100vw;
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 1em;
}
.carousel .button-prev,
.carousel .button-next {
  position: absolute;
  height: 5rem;
  top: 50%;
  transform: translate(0, -50%);
}
.carousel .button-next {
  right: 0;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  align-items: space-between;
  justify-content: space-between;
}
.grid .image {
  flex: auto;
  margin: 1em;
  padding: 1em;
}
.grid .image img {
  max-width: auto;
  width: auto;
}

.image {
  position: relative;
}
.image img {
  display: inline-block;
}
.image .label {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 0.5em 1em;
  color: #ffffff;
  text-transform: uppercase;
}
.image .caption {
  font-style: italic;
  margin-top: 0.25em;
}
.image .is-128x128 {
  width: auto;
  max-height: 128px;
}
.image .is-200x200 {
  width: auto;
  max-height: 200px;
}

.image + .h1,
.image + .h2,
.image + .h3 {
  margin-top: 0;
}

.footer {
  padding: 5em 0;
  margin-bottom: 2em;
  background: rgba(35, 31, 32, 0.7);
}
.footer .h2, .footer a {
  color: #ffffff;
}
.footer .h2:before, .footer a:before {
  border-color: #ffffff;
}
.footer ul > li {
  padding: 0;
}
.footer ul > li:before {
  content: "> ";
  color: rgba(255, 255, 255, 0.5);
}

.input + i {
  margin-left: -1.6em;
  position: relative;
  pointer-events: none;
  opacity: 0.5;
}

.is-filter {
  font-size: 1em;
  padding: 0.5em;
  width: 10em;
  height: 4em;
  color: #231F20;
  position: relative;
}
.is-filter:before {
  content: "";
  display: block;
  width: 1em;
  height: 1em;
  background: inherit;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
}
.is-filter:after {
  content: "";
  background: #e7e7e8;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 0;
}
.is-filter input {
  display: none;
}
.is-filter span {
  display: inline-block;
  position: relative;
  z-index: 1;
  margin-left: 1em;
  margin-right: 1em;
  width: 8em;
  white-space: pre-line;
}

.hero {
  background-position: center;
  background-size: cover;
  min-height: calc(100vh - 64px);
  background-color: #E5E6E7;
  position: relative;
}
.hero .hero-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  z-index: 2;
}
.hero .title {
  text-transform: uppercase;
  color: #231F20;
  display: inline-block;
  font-weight: bold;
  max-width: 50%;
}
.hero.is-compact {
  min-height: 700px;
}
.hero.is-compact .title {
  max-width: none;
}
.hero.is-inverted .button,
.hero.is-inverted a {
  color: #ffffff;
}
.hero.is-inverted .title {
  color: #ffffff;
}
.hero.is-inverted .title:before {
  border-color: #ffffff;
}
.hero.is-inverted .subtitle {
  color: #ffffff;
}
.hero.is-inverted .is-blocked {
  padding-top: 1.8em;
  margin-left: -24px;
  position: relative;
}
.hero.is-inverted .is-blocked:after {
  content: "";
  background: rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 0;
  bottom: 0;
  right: 100%;
  width: 100%;
}
.hero.is-darkened:after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 50%;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  z-index: 1;
}

.section {
  padding: 4em 0;
  background-position: center;
  background-size: cover;
}
.section.has-title {
  padding-bottom: 3em;
}
.section.has-selectors {
  padding-top: 1em;
  padding-bottom: 1em;
}
.section.is-fullheight {
  padding: 5em 0;
}
.section.is-fullheight .article {
  min-height: calc(100vh - 320px);
}

.article {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.article header + .columns,
.article header + .content {
  margin-top: 1em;
}

.columns.is-grid {
  flex-wrap: wrap;
}

.column.has-text-centered {
  flex-direction: column;
}

.columns.has-gap > .column:not(:last-child) {
  margin-right: 4em;
}

article + article {
  margin-top: 2em;
}

ul > li:not(:last-child) {
  margin-bottom: 1em;
}

.logo {
  height: 160px;
  width: 240px;
  transform-origin: left center;
  fill: #6B2A7E;
}

.blockquote {
  font-style: italic;
  color: #6B2A7E;
  position: relative;
  background: #f4f4f4;
  padding: 1em;
  margin-bottom: 1em;
}
.blockquote:before {
  content: "“";
  left: -0.2em;
  top: -0.5em;
}
.blockquote:after {
  content: "”";
  bottom: -1em;
  right: 0;
}
.blockquote:before, .blockquote:after {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 4em;
  position: absolute;
  color: #A5A7AA;
}

.timeline {
  height: 2em;
  width: 100%;
  border: solid 1px #A5A7AA;
  border-top: none;
  display: flex;
}
.timeline .year {
  flex: 1;
  position: relative;
}
.timeline .year:not(:last-child) {
  border-right: inherit;
}
.timeline .year .project {
  position: absolute;
  display: inline-block;
  width: 5px;
  height: 100%;
  left: var(--position);
}

.h1,
.h2,
.h3,
.h4 {
  position: relative;
  font-family: "AllerBold";
}

.h1 {
  text-transform: uppercase;
}

.h1:before,
.h2:before {
  content: "";
  border-top: solid 8px #231F20;
  width: 180px;
  position: absolute;
  left: 0;
  top: -1.8rem;
}

.h4 {
  text-transform: uppercase;
}

.subtitle,
.date {
  text-transform: uppercase;
  font-family: "Aller";
}
.subtitle:before,
.date:before {
  display: none;
}

.subline {
  font-family: "Aller";
  display: block;
}

.h1 {
  font-size: 38pt;
}

.h2 {
  font-size: 22pt;
}

.h3 {
  font-size: 18pt;
}

.h4 {
  font-size: 13pt;
}

a {
  color: #231F20;
}

p {
  max-width: 960px;
}
p.intro {
  font-weight: 700;
}
p.description {
  padding: 1em 2em;
}

.header + p {
  margin-top: 1em;
}

.is-inverted {
  color: #ffffff;
}
.is-inverted:before,
.is-inverted .h1:before,
.is-inverted .h2:before,
.is-inverted .h3:before {
  border-color: #ffffff;
}

.is-blocked {
  display: inline-block;
  color: #ffffff;
  background: rgba(0, 0, 0, 0.3);
  padding: 1em 2em;
}
.is-blocked:before {
  display: none;
}

i + span,
span + i {
  margin-left: 0.5em;
}

.h1 + p,
.h2 + p,
.h3 + p,
.h4 + p {
  margin-top: 1em;
}

p + p {
  margin: 2em 0;
}

h4 + ul {
  margin-top: 1em;
}

a.link {
  font-family: "AllerBold";
}
a.link.is-next:after {
  content: " >";
  display: inline-block;
  margin-left: 0.5em;
}

.is-oneliner {
  white-space: nowrap;
}

nav {
  background: #ffffff;
  z-index: 30;
}
nav.inverted .logo {
  fill: #ffffff;
}
nav.inverted .buttons .button {
  color: #ffffff;
}
nav.opaque {
  background: black;
}
nav.is-compact {
  padding-top: 1em;
  padding-bottom: 1em;
}
nav.is-compact .container {
  padding: 0;
}
nav.is-compact .logo {
  height: 60px;
  width: 150px;
}
nav.is-compact ~ nav {
  top: 90px;
}

nav.navbar .navbar-start .navbar-item:first-child {
  padding-right: 0;
  margin-left: 0;
}
nav.navbar .navbar-end .navbar-item:last-child {
  padding-right: 0;
  margin-right: 0;
}
nav.navbar .navbar-end .navbar-item:last-child .button {
  padding-right: 0;
}
nav.navbar .navbar-item {
  position: relative;
}
nav.navbar .navbar-item label + i {
  margin-left: 1em;
}
nav.navbar .navbar-item .dropdown {
  position: absolute;
  left: 0;
  top: 100%;
  margin-top: 4px;
}
nav.navbar .navbar-item .dropdown ul {
  background: #6B2A7E;
  width: 400px;
  padding: 1em;
}
nav.navbar .navbar-item .dropdown ul > li {
  margin: 0;
  padding: 0;
}
nav.navbar .navbar-item .dropdown ul > li:not(:last-child) {
  border-bottom: solid 1px #ffffff;
}
nav.navbar .navbar-item .dropdown ul > li a {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0.5em 0;
  color: #ffffff;
}
nav.navbar .navbar-item .dropdown ul > li a span {
  flex: auto;
}
nav.navbar .navbar-item .dropdown ul > li a i {
  flex: none;
}
nav.navbar .navbar-item input.for-dropdown:not(:checked) ~ .dropdown {
  display: none;
}

nav.navbar.navbar-menu {
  background: #E5E6E7;
  height: 64px;
}
nav.navbar.navbar-menu .navbar-item {
  font-family: "Aller";
  font-size: 1.1rem;
  padding: 0;
  margin: 0 1rem;
  border: solid transparent;
  border-width: 4px 0px;
  text-transform: uppercase;
}
nav.navbar.navbar-menu .navbar-item.is-active {
  border-bottom-color: #231F20;
}
nav.navbar.navbar-menu .navbar-item:hover {
  background: none;
  color: #231F20;
  border-bottom-color: rgba(35, 31, 32, 0.5);
}
nav.navbar.navbar-menu .navbar-item span + i {
  margin-left: 0.5rem;
}

.page {
  margin: 2em 0;
}

/*# sourceMappingURL=except_wagtail.css.map */
