-
  var dropdown_items = {
    about: [
      {title: 'OUR PROFILE', path: '/'},
      {title: 'SYSTEM THINKING FRAMEWORK', path: '/'},
      {title: 'HISTORY', path: '/'},
      {title: 'OUR TEAM', path: '/'},
      {title: 'NEWS', path: '/'},
      {title: 'WORKING WITH US', path: '/'},
      {title: 'ENVIRONMENTAL POLICY', path: '/'}
    ],
    services: [
      {title: 'Services Overview'},
      {title: 'Places, cities & buildings'},
      {title: 'Companies & organizations'},
      {title: 'Industry & Sectors'},
      {title: 'Training'}
    ]
  }

if item
  .navbar-item
    input.for-dropdown.is-hidden(type='checkbox' id=item.title)
    label(for=item.title)=item.title
    i.fas.fa-chevron-down
    .dropdown
      ul
        each dropdown_item in dropdown_items[item.title.toLowerCase()]
          li
            a(href=dropdown_item.path)
              span=dropdown_item.title
              i.fas.fa-chevron-right