-
  var menuItems = [
    {title: 'Home',      path: './'},
    {title: 'About',     path: './about',    dropdown: true},
    {title: 'Services',  path: './services', dropdown: true},
    {title: 'Projects',  path: './projects'},
    {title: 'Knowledge', path: './knowledge'},
  ]

nav#mainNav(class='is-fixed-top ' + navType)
  .container
      //- Logo
      include _logo.pug
      
      .buttons.is-pulled-right.is-stretched
        button.button.is-transparent
          span='ENGLISH'
          i.fas.fa-chevron-down
      
        a.button.is-transparent='CONTACT'

nav.navbar.navbar-menu.is-sticky(role='navigation' aria-label='main navigation')
    .container
      .navbar-menu

        // Left menu
        .navbar-start

          // Navigation items
          each item in menuItems
            if item.dropdown == true
              include _navbar-dropdown.pug
            else 
              a.navbar-item(class=(title == item.title ? 'is-active' : '') href=item.path)
                span=item.title  


        // Right menu
        .navbar-end

          // Search bar
          .navbar-item
            input.input(type='text' placeholder='Search site')
            i.fas.fa-search
      
      // Dark website overlay      
      label.overlay(for='headerNavToggle')