.carousel {
  position: relative;
  
  &.is-fullheight {
    height: calc(100vh - 250px);
  }

  .carousel-inner {
    width: 100vw;
    height: 100%;
    overflow-y: hidden;
    overflow-x: auto;
    display: flex;
    flex-wrap: nowrap;
    scroll-behavior: smooth;

    article {
      flex: none;
      width: 100vw;
      background-position: center center;
      background-size: contain;
      // background-size: cover;
      background-repeat: no-repeat;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      padding-bottom: 1em;
    }
  }

  .button-prev,
  .button-next {
    position: absolute;
    height: 5rem;
    top: 50%;
    transform: translate(0, -50%);
  }

  .button-next {
    right: 0;
  }
}