.card {
  background: rgba($color-secondary, .1);
  box-shadow: none;

  &.is-stretched {
    height: 100%;
    display: flex;
    flex-direction: column;
    // justify-content: stretch;
  }

  .card-image {
    flex: auto;
    display: flex;
    flex-direction: column;

    figure {
      flex: auto;

      img {
        height: 100%;
        object-fit: cover;
      }
    }
  }

  .card-content {
    position: relative;
    flex: auto;
    padding: 1rem;

    &.has-label {
      padding-bottom: 2.5rem;
    }

    .button.is-pulled-left {
      position: absolute;
      left: 0;
      bottom: 0;
    }

    .button.is-pulled-right {
      position: absolute;
      background: none;
      border: solid 1px rgba($color-secondary,.5);
      border-width: 1px 0 0 1px;
      right: 0;
      bottom: 0;
    }
  }

  .card-footer {
    padding: 1em;
    background: rgba($color-secondary, .25);
  }
}