.image {
  position: relative;

  img {
    display: inline-block;
  }

  .label {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: .5em 1em;
    color: $color-text-invert;
    text-transform: uppercase;
  }

  .caption {
    font-style: italic;
    margin-top: 0.25em;
  }

  .is-128x128 {
    width: auto;
    max-height: 128px;
  }
  .is-200x200 {
    width: auto;
    max-height: 200px;
  }
}

.image + .h1,
.image + .h2,
.image + .h3 {
  margin-top: 0;
}