.input + i {
  margin-left: -1.6em;
  position: relative;
  pointer-events: none;
  opacity: .5;
}

.is-filter {
  font-size: 1em;
  padding: .5em;
  width: 10em;
  height: 4em;
  // align-items: flex-start;
  color: $color-text;
  position: relative;
  
  &:before {
    content: '';
    display: block;
    width: 1em;
    height: 1em;
    background: inherit;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
  }

  &:after {
    content: '';
    background: $color-secondary-light;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 0;
  }

  input {
    display: none;
  }

  span {
    display: inline-block;
    position: relative;
    z-index: 1;
    margin-left: 1em;
    margin-right: 1em;
    width: 8em;
    white-space: pre-line;

    // @extend .debug;
  }
}