.hero {
  background-position: center;
  background-size: cover;
  min-height: calc(100vh - #{$height-nav});
  background-color: $color-bg-block;
  position: relative;
  
  .hero-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    // justify-content: space-between;
    justify-content: flex-end;
    z-index: 2;
  }

  .title {
    text-transform: uppercase;
    color: $color-text;
    display: inline-block;
    font-weight: bold;
    max-width: 50%;
  }

  &.is-compact {
    min-height: 700px;

    .hero-body {
      // padding: 0;
    }

    .title {
      max-width: none;
    }
  }
  
  &.is-inverted {

    .button,
    a {
      color: $color-text-invert;
    }

    .title {
      color: $color-text-invert;

      &:before {
        border-color: $color-text-invert;
      }
    }

    .subtitle {
      color: $color-text-invert;
    }

    .is-blocked {
      padding-top: 1.8em;
      margin-left: -24px;
      position: relative;

      &:after {
        content:'';
        background: $color-shadow;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 100%;
        width: 100%;
      }
    }
  }

  &.is-darkened {
    &:after {
      content: '';
      display: block;
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 50%;
      background: linear-gradient(to top, rgba(black, .5), rgba(black, 0));
      z-index: 1;
    }
  }
}