.section {
  padding: 4em 0;
  background-position: center;
  background-size: cover;

  &.has-title {
    padding-bottom: 3em;
  }

  &.has-selectors {
    padding-top: 1em;
    padding-bottom: 1em;
  }

  &.is-fullheight {
    padding: 5em 0;

    .article {
      min-height: calc(100vh - 320px);
    }
  }
}


.article {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  header + .columns,
  header + .content {
    margin-top: 1em;
  }
}

.columns.is-grid {
  flex-wrap: wrap;
}

.column.has-text-centered {
  flex-direction: column;
}

.columns.has-gap {
  > .column:not(:last-child){
    margin-right: 4em;
  }
}

article + article {
  margin-top: 2em;
}