.section {
  padding: 6em;
  background-position: center;
  background-size: cover;
}

.article {
  min-height: calc(100vh - 350px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  header {
    margin-bottom: 2em;
  }
}