.timeline {
  height: 2em;
  width: 100%;
  border: solid 1px $color-secondary;
  border-top: none;
  display: flex;

  .year {
    flex: 1;
    position: relative;

    &:not(:last-child) {
      border-right: inherit;
    }

    .project {
      position: absolute;
      display: inline-block;
      width: 5px;
      height: 100%;

      left: var(--position);
    }
  }
}