.h1,
.h2,
.h3,
.h4 {
  position: relative;
  font-family: 'AllerBold';
}

.h1 {
  text-transform: uppercase;
}

.h1,
.h2 {
  &:before {
    content: '';
    border-top: solid 8px $color-text;
    width: 180px;
    position: absolute;
    left: 0;
    top: -1.8rem;
  }
}

.h4 {
  text-transform: uppercase;
}

.subtitle,
.date {
  text-transform: uppercase;
  font-family: 'Aller';
  &:before {
    display: none;
  }
}

.subline {
  font-family: 'Aller';
  display: block;
}

.h1 {font-size: 38pt}
.h2 {font-size: 22pt}
.h3 {font-size: 18pt}
.h4 {font-size: 13pt}

a {
  color: $color-text;
}

p {
  // max-width: calc(100% - #{$spacing * 2});
  max-width: 960px;

  &.intro {
    font-weight: 700;
  }

  &.description {
    padding: 1em 2em;
  }
}

.header + p {
  margin-top: $spacing;
}

.is-inverted {
  color: $color-text-invert;

  &:before,
  .h1:before,
  .h2:before,
  .h3:before {
    border-color: $color-text-invert;
  }
}

.is-blocked {
  display: inline-block;
  color: $color-text-invert;
  background: $color-shadow;
  padding: 1em 2em;
  
  &:before {
    display: none;
  }
}

i + span,
span + i {
  margin-left: .5em;
}

.h1 + p,
.h2 + p,
.h3 + p,
.h4 + p {
  margin-top: 1em;
}

p + p {
  margin: 2em 0;
}

h4 + ul {
  margin-top: 1em;
}

a.link {
  font-family: 'AllerBold';
  // color: $color-primary;
  
  &.is-next:after {
    content: ' >';
    display: inline-block;
    margin-left: $spacing/2;
  }
}

.is-oneliner {
  white-space: nowrap;
}