{% extends "base.html" %}
{% load wagtailcore_tags %}
{% load static %}

{% block content %}
  {% with mediaPath="/media/" %}

    <section class="hero is-inverted is-darkened" style="background-image: url({{ mediaPath }}{{ page.hero_image }})">
      <div class="hero-body">
        <div class="container">
          <div>
            {% if page.hero_title %}
              <h1 class="h1 title">{{ page.hero_title }}</h1>
            {% endif %}
            {% if page.hero_subtitle %}
              <h3 class="h3 subtitle">{{ page.hero_subtitle }}</h3>
            {% endif %}
            <button class="button has-icon is-primary"><i class="fas fa-chevron-down"></i></button>
          </div>
        </div>
      </div>
    </section>

    <div class="spacer"></div>

    <section>
      <article class="container">
        <header>
          <h2 class="h2">First section</h2>
        </header>
        {{ page.body|richtext }}
      </article>
    </section>

  {% endwith %}
{% endblock content %}
