{% extends "base.html" %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags wagtailembeds_tags %}

{% load static %}

{% block content %}
  {% with mediaPath="/media/" %}

    <section class="hero is-inverted is-darkened" style="background-image: url({{ mediaPath }}{{ page.hero_image }})">
      <div class="hero-body">
        <div class="container">
          <div>
            {% if page.hero_title %}
              <h1 class="h1 title">{{ page.hero_title }}</h1>
            {% endif %}
            {% if page.hero_subtitle %}
              <h3 class="h3 subtitle">{{ page.hero_subtitle }}</h3>
            {% endif %}
            <button class="button has-icon is-primary"><i class="fas fa-chevron-down"></i></button>
          </div>
        </div>
      </div>
    </section>

    {# Main navigation #}
    {% include "includes/navbar.html" %}

    <div class="spacer"></div>

    {% comment %} 
    <section>
      <article class="container">
        {{ page.body|richtext }}
      </article>
    </section>
    {% endcomment %}

    {% comment %} {% if page.carousel_items %}
      {% for carousel_item in page.carousel_items.all %}
        <p>{{ carousel_item.image.file }}</p>
      {% endfor %}
    {% endif %} {% endcomment %}


    {% if page.carousel_items %}
      <section class="section">
        <div class="carousel is-fullheight" data-count="{{page.carousel_items.all|length}}">

          <div class="carousel-inner">
            {% for carousel_item in page.carousel_items.all %}

              {% image carousel_item.image width-1000 as carouselimagedata %}
              <article style="background-image: url({{ carouselimagedata.url }})">

                <div class="container">
                  {% if carousel_item.title %}
                    <header>
                      <h2 class="h2">{{ carousel_item.title }}</h2>
                    </header>
                  {% endif %}

                  {% if carousel_item.title %}
                    <p>{{ carousel_item.caption }}</p>
                  {% endif %}
                  
                  {% if carousel_item.link_page %}
                    <a href="{{ carousel_item.link_page }}" class="button is-next is-secondary">
                      {% if carousel_item.link_title %}
                        {{ carousel_item.link_title }}
                      {% else %}
                        More
                      {% endif %}
                    </a>
                  {% endif %}
                </div>
              </article>
            {% endfor %}
          </div>

          <div class="button is-secondary button-prev">&lt;</div>
          <div class="button is-secondary button-next">&gt;</div>

          <div class="container">
            <button class="button has-icon is-primary">
              <i class="fas fa-chevron-down"></i>
            </button>
          </div>
        </div>
      </section>
    {% endif %}

  {% endwith %}
{% endblock content %}